/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    width: 50%;
    height:100px;
    margin: 0 auto;
    padding: 5px 0;
}

header {
    background-color: #047e08;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px 0;
}

section h2 {
    margin-top: 0;
}

.product {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.abc{
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.a{
    padding-left: 900px;
    padding-top: 10px;
}
.a1{
    height: 300px;
    width:500px;
    margin:10px;
}
